@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

:root {
    --dark-blue: #2B3844;
    --darker-blue: #202C36;
    --white: #F2F2F2;
}

 
body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}


.dark-mode body {
    background-color: var(--dark-blue);
}

.detail-container {
    display: flex;
    padding: 0;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;

}

.flag {
    width: 400px;
    height: 350px;
    border: none;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 120px;
    margin-left: 0;
    position: relative;
    left: -70px;
}

.border-countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); 
    grid-auto-rows: 50px; 
    gap: 1px;
    max-width: 800px; 
    overflow-y: auto; 
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50px; 
}


.border-countries-container p {
    font-size: 16px;
    color: black;
    white-space: nowrap;
    margin-left: -10px; 
    margin-top: 4px;
  
}

 .border-button {
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 
    margin: 4px;
}

.dark-mode .border-countries .border-button {
    background-color: var(--dark-blue);
    color: var(--white) ;
    border: none;
}

.dark-mode .border-countries-container p {
    color: var(--white);
}

.country-name {
    font-size: 25px;
    padding-top: 150px;
    color: black;
    font-weight: lighter;
}


.dark-mode .country-name {
    color: var(--white);
}

.country-info {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    
}


.dark-mode .country-info {
    color: var(--white);
}


.country-info p {
    margin-bottom: -10px ;
    display: inline;
    color: black;
    margin-left: 0px;

}


.dark-mode .country-info p {
   color: var(--white);
}


.back-button {
    white-space: nowrap;
    font-size: 1.2rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--dark-blue);
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    margin-top: 45px;
    margin-bottom: 20px;
}


.dark-mode .back-button {
    color: var(--white);
}


@media (max-width: 375px) {
    .flag {
        width: 100%;
        height: auto;
        margin-top: 50px;
        left: 0;
    }

  
    .detail-container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    
    .country-name {
        font-size: 1.5rem;
        padding-top: 20px;
        text-align: center;
    }

  
    .country-info {
        font-size: 0.9rem;
        grid-template-columns: 1fr; 
       
    }
 
    .border-countries-container {
        grid-template-columns: repeat(1, 2fr);
        flex-wrap: wrap;
        max-width: 90%; 
    
      
    }
   
    .border-button {
        padding: 8px;
        font-size: 12px;
        white-space: nowrap;
        margin: 4px;
        max-width: calc(100% / 3 - 10px); 
    }

    .back-button {
        font-size: 1rem;
        margin-top: 20px;
        left: 0;
    }
   
}

@media (max-width: 768px) {
    .detail-container {
        display: flex;
        flex-direction: column;
        padding: 1rem; 
        max-width: 800px; 
        gap: 1px;
        
      }
      
      .flag {
        max-width: 500px;
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        margin: 30px;

      }
      
      .flag-container {
        margin-left: 30px; 
        margin-top: -40px;
      }

     
      .country-info-container{
        margin-top: -200px;
      }


      .country-info {
        display: grid;
        grid-template-columns: 1fr; 
        font-size: 20px; 
        line-height: 1.5; 
      }
      
      

      .border-countries-container {
     max-width: 100%; 
    grid-template-columns: repeat(auto-fill, minmax(100px, 4fr));
    gap: 6px; 
    margin-top: 20px; 
      }

      .border-countries {
        margin-top: 50px; 
        margin-left: -130px;
      }
      

      .border-button {
        padding: 8px;
        font-size: 12px;
        border-radius: 4px; 
        cursor: pointer;
      }

       .no-border-countries {
        margin-top: 50px;
        margin-left: -120px;
       }
    
     
  .back-button {
    font-size: 25px;
    margin-top: 20px;
    left: 0;
}


}