@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

:root {
  --dark-blue: #2B3844;
  --darker-blue: #202C36;
  --white: #F2F2F2;
}


  body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

body.dark-mode {
  background-color: var(--darker-blue);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 2vw; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




body.dark-mode .navbar {
  background-color: var(--dark-blue);
  color: white;
}


body.dark-mode .country-card {
  background-color: var(--dark-blue);
  color: var(--white);
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6vw;
  max-width: 250vh;
  margin: 4vh;
}


.country-card {
  background-color: white;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 46.67vh;
  display: flex;
  flex-direction: column;
}

.country-card img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  display: block;
  margin: 0;
  border-radius: 0;
}

.country-card-content {
  background-color: var(--white);
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 0,5vw; 
}

.country-card h3 {
  font-weight: 600;
  padding-left: 1.13vw; 
  margin-bottom: 0,6vh; 
}

.country-card p {
  margin: 0.1vh; 
  font-weight: 400;
  padding-left: 1vw; 
  margin-top: 1vh; 
  line-height: 1.6;
}

  .filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 99%;
  
}



.search-input {
  width: 150%;
  padding:2.31vh;
  margin: 5vh ;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  color: black;
  box-sizing: border-box;
  margin-left: 29px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

}

body.dark-mode .search-input {
background-color: var(--dark-blue);
color: var(--white);
}



.dark-mode-toggle {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: black;
  margin:30px;
  gap: 5px; 
  
}


.dark-mode-text {
  font-size: 20px;
  margin-right: -31px;
}

@media (max-width: 375px) {
  .navbar-logo {
    display: none;
  }


  .countries-container {
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5rem; 
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem; 
  }

  .navbar h1 {
    font-size: 20px; 
    margin: 0;
  }
  .dark-mode-toggle {
    font-size: 0,1em; 
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  

  
  .flag-image {
    width: 100%;
    max-width: 200px;
    margin-bottom: 0.5rem;
    display: block;
  }

  .countries-container {
    grid-template-columns: 1fr;
}
.country-card h3 {
    font-size: 20px;
}

.country-info p{
  font-size: 10px;
}

  
  .filter-container {
    display: flex;
    flex-direction: column;
    gap: 0,2rem;
    align-items: center;
  }

  .search-input,
  .filter-dropdown {
    width: 90%;
    max-width: 300px;
  }
}

@media (max-width: 768px) {



  .flag-image {
    width: 100%;
    height: auto; 
    object-fit: contain;
    display: block;
    margin: 0 auto;
  
  }

  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 2rem;
    box-sizing: border-box;
  }
  
  .navbar-logo{
    display: none;
  }
  .navbar h1 {
    font-size: 15px;
    margin: 0; 
  }
  
  .dark-mode-text{
    font-size: 15px;
  }
  .dark-mode-toggle {
    display: flex;
    align-items: center; 
    gap: 2px; 
  }


  .countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    padding: 1rem;
    gap: 8px;
  }
  
  .country-card {
    max-width: 260px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
  }
  
  .filter-container {
    display: flex;
    flex-direction: column;  
    align-items: center; 
  }
  
  .search-input,
  .filter-dropdown {
    width: 100%; 
    max-width: 200px; 
    padding: 15px; 
    box-sizing: border-box;
    
  }
  
}
