@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

:root {
  --dark-blue: #2B3844;
  --darker-blue: #202C36;
  --white: #F2F2F2;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

body.dark-mode {
  background-color: var(--darker-blue);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 2vw; 
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--darker-blue);
}






body.dark-mode .navbar {
  background-color: var(--dark-blue);
  color: white;
}


body.dark-mode .country-card {
  background-color: var(--dark-blue);
  color: var(--white);
}


.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6vw;
  max-width: 250vh;
  margin: 4vh;
}

.country-card {
  background-color: white;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 46.67vh;
  display: flex;
  flex-direction: column;
}

.country-card img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  display: block;
  margin: 0;
  border-radius: 0;
}

.country-card-content {
  background-color: var(--white);
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 0,5vw; 
}

.country-card h3 {
  font-weight: 600;
  padding-left: 1.13vw; 
  margin-bottom: 0,6vh; 
}

.country-card p {
  margin: 0.1vh; 
  font-weight: 400;
  padding-left: 1vw; 
  margin-top: 1vh; 
  line-height: 1.6;
}


  .filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    width: 99%;
  
}


.search-input {
  width: 150%;
  padding:2.31vh;
  margin: 5vh ;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  color: black;
  box-sizing: border-box;
  margin-left: 29px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

}

body.dark-mode .search-input{
background-color: var(--dark-blue);
color: var(--white);

}



.dark-mode-toggle {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: black;
  margin:30px;
  gap: 5px; 
  
}


.dark-mode-text {
  font-size: 20px;
  margin-right: -31px;
}



@media (min-width: 1440px) {
  .countries-container {
      grid-template-columns: repeat(4, 1fr);
  }
  .country-card h3 {
      font-size: 1.5em; 
  }
}


@media (max-width: 1024px) {
  .countries-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 4vw;
  }
  .country-card h3, .country-name {
      font-size: 1.3em;
  }
}


@media (max-width: 768px) {
  .countries-container {
      grid-template-columns: repeat(2, 1fr);
  }
  .country-card h3 {
      font-size: 1.1em;
  }
  .country-info, .country-card p {
      font-size: 14px;
  }
}

@media (max-width: 375px) {
  .countries-container {
      grid-template-columns: 1fr;
  }
  .country-card h3, .country-info p {
      font-size: 12px;
  }
}
